<div class="navbarContainter">
<div class="navbar">
    <div class="logoBox">
        <div class="logoImg"></div>
        <div class="logoTitle">Readdy Blog</div>
    </div>
    <div class="searchBox">
        <form action="/search">
            <input type="text" name="bookName" class="searchBar" placeholder="Search Books/ Authors">
            <input type="submit" class="submitBtn" value="">
        </form>
    </div>
    <div class="navBarOption">
        <% if (locals.userid) { %>
            <form action="/profile">
                <input type="submit" class="loginBtn" value="Profile">
            </form>
        <% } else { %>
            <form action="/login">
                <input type="submit" class="loginBtn" value="Login">
            </form>
        <% } %> 
    </div>
</div>
</div>