<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="chatBox">
    <div class="chatBoxDiv">
        <div class="chatArea">
        </div>
        <div class="chatBar">
            <div class="chatQuery">
                    <input type="text" class="chat" id="query" placeholder="Ask Books/Authors" autofocus>
                    <button class="send" onclick=sendQuery()></button>
            </div>
        </div>
    </div>
</div>
<script>
    
    const sendQuery = async () => {
    const queryBox = document.getElementById("query");
    const query = queryBox.value.trim(); // Trim whitespace
    const addQuery = (query) => {
        const queryDiv = document.createElement("div");
        const queryBox = document.createElement("div");
        queryDiv.classList.add("query")
        queryBox.classList.add("queryBox")
        queryBox.innerHTML = query;
        queryDiv.appendChild(queryBox);
        document.getElementsByClassName("chatArea")[0].appendChild(queryDiv);
    }
    const addReply = (reply) => {
        const replyDiv = document.createElement("div");
        replyDiv.classList.add("reply")
        const queryBox = document.createElement("div");
        queryBox.classList.add("queryBox");
        queryBox.innerHTML = reply;
        replyDiv.appendChild(queryBox);
        document.getElementsByClassName("chatArea")[0].appendChild(replyDiv);
    }
    if (!query) {
        queryBox.placeholder = 'Please type valid text';
        return;
    }else{
        addQuery(query);
        queryBox.value = "";
        const response = await fetch("/chat", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ query })
        });
        const data = await response.json();
        addReply(data);
    }
};

</script>