<%- include('./partials/header.ejs') %>
<div class="loginContainer">
    <div class="loginDiv">
        <div class="loginCard">
            <div class="logoTitle loginLogo">Readdy Blog</div>
            <div class="loginText dosis creamColor">
                <div>Welcome</div>
                <div>First Time User ?</div>
            </div>
            <form action="/loginAuth" class="loginForm">
                <div class="dosis creamColor loginText">Sign Up</div>
                <input type="text" name="name" class="nameBox loginElement dosis" placeholder="Your Name">
                <input type="email" name="email" class="emailBox loginElement dosis" placeholder="Your Email">
                <div class="passwordFeild">
                    <input type="password" name="pass" id="password" class="passBox loginElement dosis" placeholder="Enter Password">
                    <span><i id="toggler" class="far fa-eye"></i></span>
                </div>
                <input type="submit" class="loginSbm loginElement dosis" value="Sign Up">
                <div class="dosis creamColor">Already a User? <a href="/userLogin" class="green noUnderline">Login</a></div>
            </form>
            
        </div>
    </div>
</div>
<script src="./js/login.js"></script>
<%- include('./partials/footer.ejs') %>